body {
    margin: 5;
    padding: 5;
    font-family: 'Roboto', sans-serif;
  }
  
  h1, p {
    margin-bottom: 1rem;
    margin-left: 5;
    padding-left: 10;
  }
  
  img {
    max-width: 50%;
    object-fit: cover; /* Asegura que la imagen mantenga sus proporciones dentro del contenedor */
  }
  
  .vh-100 {
    min-height: 100vh;
  }

  h1{
    align-content: left;
  }
  a{
    background-color: blue;
  }