<body>
    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center text-white" style="background-color: #000;">
        <div class="row w-100">
          <div class="col-md-6 d-flex flex-column justify-content-right">
            <h1 class="display-2" style="text-align: center;">Hi, I am Guido Molina</h1>
            <p class="lead" style="text-align: center;">I'm Java Developer with more than 2 years of experience specialized in the development of Microservices, robust APIs and innovative solutions. Passionate about emerging technologies and constant evolution, I stand out for my great predisposition to change and my ability to solve complex system problems.</p>
            <a href="https://www.linkedin.com/in/guidofmolina/" class="btn btn-success btn-lg">Let's go my profile Linkedin</a>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img [src]="profilePhoto" class="img-fluid custom-size" alt="Webflow Expert">
          </div>
        </div>
      </div>
  </body>
