body {
    margin: 5;
    padding: 5;
    font-family: 'Roboto', sans-serif;
  }
  
  h1, p {
    margin-bottom: 1rem;
    margin-left: 5;
  }
  
  img {
    max-width: 50%;
    border: 5px solid #fff;
  }
  
  .vh-100 {
    min-height: 100vh;
  }

  h1{
    align-content: left;
  }
  