<body>
    <div class="container-fluid vh-100 d-flex justify-content-center align-items-center text-white" style="background-color: #000;">
        <div class="row w-100">
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1 class="display-4">Hi, I am a Developer</h1>
            <p class="lead">Java Software Developer with more than 2 years of experience specialized in the development of Microservices, robust APIs and innovative solutions. Passionate about emerging technologies and constant evolution, I stand out for my great predisposition to change and my ability to solve complex system problems.</p>
            <a href="https://wa.me/5493764686662" class="btn btn-success btn-lg">Let's chat on WhatsApp</a>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img [src]="profilePhoto" class="img-fluid rounded-circle" alt="Webflow Expert">
          </div>
        </div>
      </div>
  </body>
